extends layouts/LayoutTheme
include mixins/home/landing/HeroHeader
include mixins/home/landing/FlashSales
include mixins/home/landing/EverydayCollection
include mixins/home/landing/NewArrivals
include mixins/home/landing/Collection
include mixins/home/landing/BestSellers
include mixins/home/landing/Summer
include mixins/home/landing/DressSharp
include mixins/home/landing/cta
//- include mixins/home/landing/Footer



append variables
  - var currentPage = 'index'

prepend scripts
  
append content
  +HeroHeader
  +FlashSales
  +EverydayCollection
  +NewArrivals
  +Collection
  +BestSellers
  +Summer
  +DressSharp
  +Cta
  //- +Footer
