mixin Contact 
  +Section#contact.py-0
    .row 
      .col-lg-7.col-xxl-5.mx-auto.text-center.mt-5
        h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-5 Contact Us

  section.py-5.mb-8
    +Background({image: `${CWD}assets/img/illustrations/contact-us-bg.png`, attrs: { style: { 'background-position': 'left bottom', 'background-size': 'auto',} }, className: '' })
    +Background({image: `${CWD}assets/img/gallery/contact-bg.png`, attrs: { style: { 'background-position': 'center right ', 'background-size': 'contain'} }, className: '' })
    .container
      .row.flex-center
        .col-lg-5.mb-5
          .card.card-bg.p-2
            