mixin Cta
  section.bg-dark-gradient
    +Background({ image: `${CWD}assets/img/gallery/cta.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover'} }, className: '' })
    .container 
      .row
        .col-12.text-light.py-7
          .d-flex.flex-column.flex-center
            h5.fw-normal.text-white.fs-2.fs-md-3 visit our Outlets in
            h2.text-white London