append variables
  -
    var destinations= [
      {
        image:'agra.png',
        country:'Agra',
        packages:'10 Packages',
      },
      {
        image:'kualalumpur.png',
        country:'Kuala Lumpur',
        packages:'10 Packages',
      },
      {
        image:'munich.png',
        country:'Munich',
        packages:'10 Packages',
      },
      {
        image:'paris.png',
        country:'Paris',
        packages:'10 Packages',
      },
      {
        image:'vienna.png',
        country:'Vienna',
        packages:'10 Packages',
      },
      {
        image:'pregue.png',
        country:'Pregue',
        packages:'10 Packages',
      },
      {
        image:'agra.png',
        country:'Agra',
        packages:'10 Packages',
      },

    ];


mixin DestinationItem(config)
  .card.card-span.h-100.text-white
    img.img-fluid.h-100.w-100(src=`${CWD}assets/img/gallery/${config.image}` height='375'  alt='...')
    .card-img-overlay.ps-0.d-flex.flex-column.justify-content-between.bg-voyage-gradient
      .mt-auto.px-4
        h3.fs-1.fs-md-2.text-white=config.country
        span.text-light.fs--1.me-1
          i.fas.fa-gift
        span.text-light.me-3=config.packages
    a.stretched-link(href='#!')
mixin Destination
  section.py-7#destinations.overflow-hidden
    .container.bg-offcanvas-gray-right
      .row.gx-2.mb-2
        .col-12.col-md-12.col-lg-4
          .bg-primary-gradient.bg-offcanvas.h-100
            .row.g-0.justify-content-end
              .col-12
                .p-6.py-md-5.px-md-3.py-lg-8.text-light
                  i.fas.fa-map-marker-alt.fs-5.mb-3
                  h2.mb-3.text-light popular destinations 
                  p Enjoy our pakages to the places our travellers 
                    br.d-none.d-lg-block
                    |enjoy the most. Affordable, yet enjoyable. For 
                    br.d-none.d-lg-block
                    |you, and your family.
        .col-sm-6.col-lg-4
          +DestinationItem(destinations[0])
        .col-sm-6.col-lg-4
          +DestinationItem(destinations[1])
      .row.g-2    
        .col-sm-6.col-lg-4
          .row.g-2
            .col-12 
              +DestinationItem(destinations[2])
            .col-12 
              +DestinationItem(destinations[2])
        .col-sm-6.col-lg-4
          .row.g-2 
            .col-12 
              +DestinationItem(destinations[3])
            .col-12 
              +DestinationItem(destinations[4])
        .col-sm-12.col-lg-4
          .bg-secondary-gradient.h-100.d-flex.align-items-center
            .text-light.p-4.p-sm-6.p-lg-0.px-xxl-6
              p.fs-1.px-4.mb-6 Don’t see a place according to your choice? Don’t worry. We have more for you.
            
              a.btn.btn-lg.text-light.fs-1.me-xl-1(href='#!' role='button') Click to view more
                svg.bi.bi-arrow-right-circle.ms-xl-3(xmlns='http://www.w3.org/2000/svg' width='55' height='55' fill='currentColor' viewBox='0 0 16 16')
                  path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z')