mixin DressSharp
  +Section 
    .row.h-100.g-0 
      .col-md-6
        .bg-300.p-4.h-100.d-flex.flex-column.justify-content-center
          h1.fw-semi-bold.lh-sm.fs-4.fs-lg-5.fs-xl-6 Dress Sharp Everyday
          p.mb-5.fs-1 We have the premium set of formal wears for to make you look confident and comfortable at your job.
          .d-grid.gap-2.d-md-block
            a.btn.btn-lg.btn-dark(href='#' role='button') Explore Collection
      .col-md-6
        .card.card-span.h-100.text-white
            img.card-img(src=`${CWD}assets/img/gallery/sharp-dress.png` alt='...').h-100
            a.stretched-link(href='#!')
        