mixin FooterList(...items)
  each item in items
    li.mb-2
      a.text-800.fw-bold.text-decoration-none(href='#!')
        =item

mixin Footer
  +Section.py-0.overflow-hidden
    .row
      .col-6.col-sm-4.col-lg-6
        .py-7
          img.d-inline-block(src=`${CWD}assets/img/gallery/logo.png` width='50' alt='logo')
          span.fw-bold.fs-4.text-primary.ms-2 voyage
          ul.list-unstyled.mt-4
            +FooterList('News','Terms & Conditions','Privacy','About Us','FAQs')

      .col-6.col-8.col-lg-6.bg-primary-gradient.bg-offcanvas-right
        .p-3.py-7.p-md-7
          p.text-light
            i.fas.fa-phone-alt.me-3
            span.text-light +3930219390
          p.text-light
            i.fas.fa-envelope.me-3
            span.text-light something@gmail.com
          p.text-light
            i.fas.fa-map-marker-alt.me-3
            span.text-light.lh-lg 333, Lorem Street, Albania, Alifornia
              br
              | United States of America
          .mt-6
            a(href='#!')    
              i.fab.fa-facebook.text-light.fs-4.me-3
            a(href='#!')  
              i.fab.fa-twitter.text-light.fs-4.me-3
            a(href='#!')  
              i.fab.fa-instagram.text-light.fs-4.me-3